h1,h2{
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 100px;
    background-color :black ;
    margin: 0px;
    padding: 10px;
};

html{
    border: solid black;
};

.languages{
    border-radius: 20px;
    background-color: #eeeeee;
    /* modify margin and padding here*/
    padding: 30px;
    margin: 20px;
    width:230px;
    font-family: fantasy;
};

